body{
    background-color: rgb(255, 207, 159);
    margin: auto;
    width: 90%;

   
}
.kepek{
    width: auto;
    height: auto;
}
#kepek1{
    width: 10px;
}

.szöveg{
    font-size: large;
    line-height: 130%;
}
.{
    
}

.fejlec{
    text-align: center;
}

#fej{
    font-size: xx-large;
    text-align: center;
}
#navbar{
    background-color:rgb(255, 153, 69) ;
}