body{
    background-color: antiquewhite;
    margin: auto;
    width: 95%;

   
}
#kepek{
    width: max-content;
}

.szöveg{
    font-size: x-large;
}
.{
    
}

.fejlec{
    text-align: center;
}

