body{
    background-image:url(182840745-blue-outline-map-of-balaton-lake-isolated-vector-siilhouette-on-white-background.jpg) ;
   background-size: cover;
    opacity: 1;
    margin: auto;
    width: 90%; 
    background-position: center ; 
    background-attachment:fixed;

   
}
.kepek{
    width: auto;
    height: auto;
}
#kepek1{
    width: 10px;
}

.szöveg{
    font-size: large;
    line-height: 130%;
    color: rgb(0, 0, 0);
    font-family:  bold, sans-serif;
}
.{
    
}

.fejlec{
    text-align: center;
    color: aliceblue;
}

#fej{
    font-size: xx-large;
    text-align: center;
    color: black;
}
#navbar{
    background-color:rgb(255, 153, 69) ;
}